@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;

.cards-summary,
.cards,
.cards-block,
.card-body {
	display: flex;
	flex-direction: column;
}

.cards-summary {
	text-align: center;
}

.cards-summary-title {
	font-weight: var.$font-weight-200;
}

.cards-summary-subtitle {
	margin-bottom: func.em(16, 24);
	font-size: func.em(24, var.$font-size-primary);
	color: var.$color-dark-blue;
	line-height: 1.25;
}

.cards,
.cards-block {
	gap: func.em(24, var.$font-size-primary);
}

.card {
	min-height: func.em(220, var.$font-size-primary);
	padding: func.em(28, var.$font-size-primary);
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.card::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: func.em(4, var.$font-size-primary);
	background-color: transparent;
}

.card--supervisor::before {
	background-color: var.$color-cyan;
}

.card--team-builder::before {
	background-color: var.$color-red;
}

.card--karma::before {
	background-color: var.$color-orange;
}

.card--calculator::before {
	background-color: var.$color-blue;
}

.card-body {
	gap: func.em(10, var.$font-size-primary);
}

.card-text {
	margin-bottom: 0;
	font-size: func.em(13, var.$font-size-primary);
}

.card-image {
	display: flex;
	justify-content: flex-end;
	margin-top: auto;
}

.card-image img {
	width: func.em(56, var.$font-size-primary);
	height: func.em(56, var.$font-size-primary);
}

@media (min-width: 57.5em) {
	.cards-summary {
		max-width: func.em(540, var.$font-size-primary);
	}

	.cards-summary-title,
	.cards-summary-subtitle {
		font-size: func.em(36, var.$font-size-primary);
	}

	.cards-summary-subtitle {
		margin-bottom: func.em(16, 36);
	}

	.cards,
	.cards-block {
		gap: func.em(30, var.$font-size-primary);
	}

	.cards {
		flex-direction: row;
	}

	.cards-block {
		justify-content: center;
		flex: 1;
	}
}
