@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;

.section {
	width: 100%;
	max-width: func.em(420, var.$font-size-primary);
	margin: func.em(40, var.$font-size-primary) 0
		func.em(60, var.$font-size-primary);
}

.section-header {
	padding-top: func.em(40, var.$font-size-primary);
	margin-bottom: func.em(76, var.$font-size-primary);
	text-align: center;
}

.section-title {
	font-weight: var.$font-weight-200;
}

.section-subtitle {
	margin-bottom: func.em(16, 24);
	font-size: func.em(24, var.$font-size-primary);
	color: var.$color-dark-blue;
	line-height: 1.25;
}

.card-group,
.card-block {
	display: flex;
	flex-direction: column;
	gap: func.em(24, var.$font-size-primary);
}

.card {
	min-height: func.em(220, var.$font-size-primary);
	padding: func.em(24, var.$font-size-primary);
	box-shadow: 0px func.em(15, var.$font-size-primary)
		func.em(20, var.$font-size-primary) 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.card::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: func.em(4, var.$font-size-primary);
	background-color: transparent;
}

.card--supervisor::before {
	background-color: var.$color-cyan;
}

.card--team-builder::before {
	background-color: var.$color-red;
}

.card--karma::before {
	background-color: var.$color-orange;
}

.card--calculator::before {
	background-color: var.$color-blue;
}

.card-text {
	font-size: func.em(13, var.$font-size-primary);
}

.card-image {
	display: flex;
	justify-content: flex-end;
	margin-top: auto;
}

.card-image img {
	width: func.em(56, var.$font-size-primary);
	height: func.em(56, var.$font-size-primary);
}

@media (min-width: 48em) {
	.section {
		max-width: func.em(1110, var.$font-size-primary);
	}

	.section-header {
		max-width: func.em(540, var.$font-size-primary);
		margin-bottom: func.em(60, var.$font-size-primary);
	}

	.section-title,
	.section-subtitle {
		font-size: func.em(36, var.$font-size-primary);
	}

	.section-subtitle {
		margin-bottom: func.em(16, 36);
	}

	.card-group {
		flex-direction: row;
	}

	.card-block {
		justify-content: center;
		flex: 1;
	}
}
