$color-red: hsl(0, 78%, 62%);
$color-cyan: hsl(180, 62%, 55%);
$color-orange: hsl(34, 97%, 64%);
$color-blue: hsl(212, 86%, 64%);

$color-dark-blue: hsl(234, 12%, 34%);
$color-grayish-blue: hsl(229, 6%, 66%);
$color-light-gray: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%);

$color-red-rgb: 234, 83, 83;
$color-cyan-rgb: 69, 211, 211;
$color-orange-rgb: 252, 175, 74;
$color-blue-rgb: 84, 158, 242;
$color-dark-blue-rgb: 76, 78, 97;
$color-grayish-blue-rgb: 163, 165, 174;
$color-light-gray-rgb: 250, 250, 250;
$color-white-rgb: 255, 255, 255;

$font-family-primary: 'Poppins', sans-serif;
$font-family-headings: 'Poppins', sans-serif;

$font-size-primary: 15px;

$font-weight-200: 200;
$font-weight-400: 400;
$font-weight-600: 600;
